  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: lightskyblue;
    padding: 0;
    width: 100vw;
    height: 100vh;
    margin-bottom: 40px; !important
  }

h1{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
    padding-bottom: 0;
    margin: 0;
  }
.win-para{
    text-align: center;
    font-size: 26px;
    font-weight: 300;
  }
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-container {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 40px;
    max-width: 90%;
}  
.button-container img {
    max-width: 150px;
    padding: 30px;
    background:transparent;
}
.score-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.player-score, .computer-score{
    font-weight: 300;
    font-size: 30px;
}

.result{
    text-align: center;
    font-size: 25px;
}

.playAgain {
    background-color: lightblue;
  border: 1px solid #222222;
  border-radius: 10px;
  color: #070707;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  padding: 13px 23px;
  width: auto;
  margin-top: 0;
}
.playAgain:hover{
    background-color: rgb(168, 163, 163);
    color: lightskyblue;
}